body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #FFE9F3; /* Soft pink */
}

.landing-page {
    margin-top: 100px;
}

#openButton {
    background-color: #FF69B4; /* Bright pink */
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#openButton:hover {
    background-color: #FFB6C1; /* Lighter pink on hover */
}

.modal-content {
    background-color: #FFC0CB; /* Light pink background */
    color: #333333; /* Darker text for readability */
    font-family: 'Comic Sans MS', cursive, sans-serif; /* A playful, cute font */
    padding: 20px;
    border-radius: 10px; /* Rounded corners for a softer look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    width: 60%; /* Adjust width as needed */
    margin: auto;
    margin-top: 5%;
}

p {
    line-height: 1.5; /* Space out the lines for readability */
    text-align: left; /* Align text to the left */
}

/* Style for strong (bold) text, used for emphasis */
strong {
    color: #FF69B4; /* A deeper pink for contrast */
}

.hidden {
    display: none;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.floating {
    animation: float 3s ease-in-out infinite;
}

.timeline {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.timeline-item {
    border-bottom: 2px solid #FF69B4; /* Pink border */
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.timeline-item img {
    width: 50%; /* Smaller width */
    max-width: 300px; /* Maximum width, adjust as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.timeline-item p {
    text-align: center;
    color: #333;
}



body {
    margin: 0;
    padding: 0;
    background-image: url('img/hello_kitty-removebg-preview.png'), url('img/pngtree-watercolor-cute-pink-ribbon-bow-png-image_6470827-removebg-preview.png');
    background-position: top left,top right; /* Adjust positions as needed */
    background-repeat: no-repeat, no-repeat, no-repeat;
    min-height: 100vh; /* Ensure the body takes the full viewport height */
}